

body {
    height: 100vh;
    width: 100%;
    /* background-image: 
        radial-gradient(
            circle at 92% 9%,
            rgba(190, 227, 255, 0.05) 3%,
            rgba(8, 26, 33, 0.1) 68%
            ); */
    background-image: red;
}


/* .sekcia1, .sekcia2, .sekcia3, .sekcia4, .sekcia5 {
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.gradient-bg {
    background-image: 
        radial-gradient(
            circle at 92% 9%,
            rgba(190, 227, 255, 0.95) 3%,
            rgba(8, 26, 33, 1) 68%
            );
}
.mesto-bg {
    background-image: url(../img/intro-dalej70tiny.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

section.section.sekcia1.mesto-bg > div {
    opacity: 0;
}

.mesto-bg {
    transition: background-size 2s ease-in;
    -moz-transition: background-size 2s ease-in;
    -web-kit-transition: background-size 2s ease-in;
    animation-name: PohybBG1, PohybBG2;
    animation-duration: 3.5s, 3.5s;
    animation-iteration-count: 1, 1;
    animation-delay: 1s, 1s;
    animation-fill-mode: forwards;
}   

@keyframes PohybBG1 {
    100% {
       background-position: center;
    }
 }





.logo {
    height: 50vh;
    /* width: 95%; */
    /* margin: auto; */

    background-image: 
        url("../img/logo_part2.png"),
        url("../img/logo_part3.png"),
        url("../img/logo_part4.png"),
        url("../img/logo_kruh.png")
        ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    animation: gogo 1.7s ease-in-out 4s 1 normal forwards;
}


@keyframes gogo {
    100% {
       opacity: 1;;
    }
 }


.gradient-bg-vv {
    background-image: 
        radial-gradient(
            circle at 9% 92%,
            rgba(190, 227, 255, 0.95) 3%,
            rgba(8, 26, 33, 1) 68%
            );
}



/* li {
    border-bottom: solid 5px red;
    width: 300px;
} */

li {
    position: relative;
}

li::after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: 0px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

}

li:nth-child(1)::after, li:nth-child(5)::after {
    left: -25px;
    right: 25px;
}

li:nth-child(3)::after, li:nth-child(6)::after {
    left:   25px;
    right: -25px;
}

li:last-of-type:after {
    content: none   ;
}

.li:hover::after {
    width: 50%;
    background: orange;
}

/* .li::after {
    transform : scaleX(0);
  }
 .li:hover::after {
    transform : scaleX(1);
 } */


.o-kpm {
    color: #222;
    flex-direction: column;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#o-kpm > div.fp-slides > div > div.slide.o-kpm-slide1.fp-slide.active > div {
    top: 20%;
}

.o-kpm:before {
    content: "";
    background-image:         
        radial-gradient(
            circle at 92% 9%,
            rgba(190, 227, 255, 0.33) 3%,
            rgba(8, 26, 33, 0.33) 68%
        ), 
        url('../img/ZA_night_globe2.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    z-index: 0;
}

#kapely > div.fp-slides > div > div.slide.kapely-slide1.fp-slide.active > div {
    top: 20%;
}

.recnici:before {
    content: "";
    background-image:         
        radial-gradient(
            circle at 92% 9%,
            rgba(190, 227, 255, 0.33) 3%,
            rgba(8, 26, 33, 0.33) 68%
        ), 
        url('../img/recnici.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: -80%;
    bottom: 0;
    opacity: 1;
    z-index: 0;
}

.miesto-kontakt:before {
    content: "";
    background-image:         
        radial-gradient(
            circle at 92% 9%,
            rgba(190, 227, 255, 0.23) 3%,
            rgba(8, 26, 33, 0.23) 68%
        ), 
        url('../img/dom-odborov.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.7;
    z-index: 0;
}

.kapely-slide {
    align-items: center;
}

.kapely:before {
    content: "";
    background-image:  
            url(../img/kapely.jpg);
    background-position: 72% 0%;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    right: -22%;
    left: 0;
    bottom: 0;
    opacity: 0.75;
    z-index: 0;
}

.slide {
    position: relative;
}


.program-slide1:before, .program-slide2:before, .program-slide3:before,.program-slide4:before {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    z-index: 0;
}

.program-slide1:before {
    content: "";
    background-image: 
        radial-gradient( 
            circle at 92% 9%, 
            rgba(190, 227, 255, 0.5) 3%, 
            rgba(8, 26, 33, 0.55) 68% 
            ), 
        url(../img/program-mobil1t.jpg);
    background-position: 72% 0%;
}


.program-slide2:before {
    content: "";
    background-image: 
        radial-gradient( 
            circle at 8% 9%, 
            rgba(190, 227, 255, 0.5) 3%, 
            rgba(8, 26, 33, 0.55) 68% 
            ), 
        url(../img/program-mobil2t.jpg);
    background-position: 72% 0%;
}

.program-slide3:before {
    content: "";
    background-image: 
        radial-gradient( 
            circle at 92% 9%, 
            rgba(190, 227, 255, 0.5) 3%, 
            rgba(8, 26, 33, 0.55) 68% 
            ), 
        url(../img/program-mobil3t.jpg);
    background-position: 72% 0%;
}

.program-slide4:before {
    content: "";
    background-image: 
        radial-gradient( 
            circle at 8% 9%, 
            rgba(190, 227, 255, 0.5) 3%, 
            rgba(8, 26, 33, 0.55) 68% 
            ), 
        url(../img/program-mobil4t.jpg);
    background-position: 72% 0%;
}


.registracia-slide1:before, .registracia-slide2:before {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.75;
    z-index: 0;
}

.registracia-slide1:before {
    content: "";
background-image: 
    radial-gradient( 
        circle at 92% 9%, 
        rgba(190, 227, 255, 0.2) 3%, 
        rgba(8, 26, 33, 0.25) 68% 
        ), 
        url(../img/registracia.jpg);

background-position: top center;
}

.registracia-slide2:before {
    content: "";
background-image: 
    radial-gradient( 
        circle at 92% 9%, 
        rgba(190, 227, 255, 0.2) 3%, 
        rgba(8, 26, 33, 0.25) 68% 
        ), 
        url(../img/registracia.jpg);

background-position: top right;
}







.jadro-popis {
    z-index: 3;
    position: relative;
    width: 66%;
}

.o-kpm h1 {
    text-align: center;
    color: #fff;
    top: 20px;
}

.o-kpm p, .recnici p, .miesto-kontakt p {
    position: relative;

    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;

    width: 100%;
    margin-top: 30%;
    padding: 18px 15px 20px 20px;
}


.o-kpm p::before, .recnici p::before {
    content: "";
    position: absolute;
}

/* cierna ciara okolo ramceka */
.o-kpm p::before, .recnici p::before, .miesto-kontakt p::before {
    content: "";
    top: -15px;
    left: 15px;
    right: -15px;
    bottom: 15px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}

.slniecko {
    position: absolute;

    background-image: url("../img/slniecko.png");
    background-size: contain;
    background-repeat: no-repeat;
    
    z-index: 2;
}

.slnko {
    width: 35%;
    height: auto;
    position: absolute;
    top: 27%;
    left: -7%;

    background-image: url("../img/slniecko.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
    

.slniecko-okpm {
    top: -14%;
    left: -48%;
    width: 40vh;
    height: 40vh;
}

.jadro-kapely {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 90%;

    position: relative;
}

.fotka-kapely {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.zilincania {
    background-image: url(../img/kapela-zilina-10.png);
}

.david {
    background-image: url("../img/kapela-david-09.png");
    background-size: 120%;
}

.espe {
    background-image: url("../img/kapela-espe-09.png");
    background-size: 120%;
}

.kpm-band {
    background-image: url("../img/kapela-kpm-11.png");
    top: -422%;
    left: -23%;
}

@media screen and (min-width: 769px) {
    .kapely:before {
        right: 0;
    }
    
    .fotka-kapely {
        width: 850px;
        height: 850px;
        background-size: contain;
    }

    .zilincania {
        top: -170%;
        left: 28%;
    }

    .kpm-band {
        left: 28%;
    }
}

.fotka-recnik {
    background-size: contain;
    background-repeat: no-repeat;
    
    position: absolute;
    z-index: 5;
    top: calc(-4vh * 6);
    right: calc(7vw * 3);
    width: 300px;
    height: 300px;
}

.peta {
    background-image: url("../img/recnik-Petka-09.png");
}

.miro {
    background-image: url("../img/recnik-Miro-09.png");
}

.slavo {
    background-image: url("../img/recnik-Slavo-09.png");
}

.majo {
    background-image: url("../img/recnik-Majo-09.png");
}

.slniecko-program {
    bottom: -16%;
    right: -35%;
    width: 380px;
    height: 380px;
}

.slniecko-registracia {
    position: absolute;
    top: -5%;
    width: 170px;
    height: 170px;
}

.slniecko-kontakt {
    position: absolute;
    top: calc(-5vh * 3);
    right: calc(-1vw * 3);
    width: 300px;
    height: 300px;
}


.recnici {
    flex-direction: column;
}

.jadro {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: row;

    position: relative;
    top: 0;
}

.recnici .jadro {
    top: 7%;
}

.sipky {
    background-size: contain;
    background-repeat: no-repeat;
    width: 13vw;
    height: 13vw;
    position: absolute;
}

.lavasipka {
    background-image: url("../img/sipka-vlavo.png");
    margin-right: 20px;
    left: 0;
}
.pravasipka {
    background-image: url("../img/sipka-vpravo.png");
    margin-left: 20px;
    right: 0;
}








/* 
<div class="container">
  
  <section class="panel blue">
    <h1>Pair with CSS Scroll Snapping</h1>
  </section>

  <section class="panel orange">
    <p>This element will spin.</p>
  </section>

  <section class="panel red">
    <p>This background color will change</p>
  </section>

  <section class="panel blue yoyo">
    <p>Yoyo Text!</p>
  </section>

</div>
 */





/* table {
    padding-left: 20vw;
    padding-right: 20vw;
    width: 66%;
} */







.container {
    max-height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
  }
  
  .panel {
    scroll-snap-align: start;
    height: 100vh;
  }




.fp-slides {
    z-index: 2;
}

.fp-overflow .section5 {
    overflow-y: unset;
}



/* SEMINARE */

.seminare:before {
    content: "";
    background-image:  
            url(../img/seminar.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    right: 0;
    left: -204%;
    bottom: 0;
    opacity: 0.75;
    z-index: 0;
}

#seminare > div.fp-slides > div > div.slide > div {
    top: 20%;
}

.jadro-seminare {
    position: relative;

    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;

    font-size: 15rem;
    line-height: 1.5;
    margin: 0 18px;
    padding: 18px 15px 20px 30px;
    top: 10%;
    max-width: 70%;
}

.jadro-seminare::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 15px;
    right: -15px;
    bottom: 15px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    z-index: -1;
}

.seminare-nazov {
    font-weight: 700;
    line-height: 1.25;
}

.seminare-nazov .ciarka {
    font-weight: 400;
}

.seminar-recnik {
    font-weight: 400;
    color: #f1cb75;
}

.seminare a {
    align-self: center;
}

.button-seminare {
    /* 
    Prepisat, ked bude button aktivny:
    border: 2px solid #F9B821; 
    background-color: rgba(249, 184, 33, 0.2);
    color: white;
    */
    border: 2px solid black;
    background-color: rgba(190, 190, 190, 0.5);
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

/* 
Odkomentovat, ked bude button aktivny:
.button-seminare:hover {
    background-color: #F9B821;
} 
*/

.seminare .den-v-tyzdni {
    bottom: -8px;
}


/* SEMINARE modalne okno */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6;
    align-self: center;
    top: -11%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4);
}
  
/* Modal Content/Box */
.modal-content {
    background-color: black;
    margin: 180px auto; 
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #F9B821;
    width: 90%;
    max-height: 80%;
}

.sem-sobota {
    max-width: 30%;
}

/* Button Style */
.btn-seminar {
    font-weight: 700;
    text-align: left;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Scrollable Text Box */
.scroll {
    display: block;
    padding: 5px;
    width: 100%;
    max-height: 140px;
    overflow-y: auto;
}

/* Photo */
.fotka-seminaristu {
    width: 100%;
    max-width: 700px;
    vertical-align: bottom;
    display: table-cell;
}

@media screen and (min-width: 769px) {
    .modal {
        top: 0;
        width: 35%;
        height: 100%;
        overflow: auto; /* Enable scroll if needed */
    }

    .modal-content {
        margin: 160px auto; 
        width: 35%; 
    }

    .fotka-seminaristu {
        max-height: 390px;
    }
}


/* PROGRAM */

.program {
    flex-direction: column;
    position: relative;
}

.program .fp-controlArrow {
    top: 50%;
}

.program .fp-next {
    right: 5%;
}

.program .fp-prev {
    left: 5%;
}


.program table {
    position: relative;

    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;

    font-size: 15rem;
    line-height: 1.2;

    width: 66%;
    margin: 0 auto;
    vertical-align: middle;
    height: 60%;
    top: 4%;

    border-spacing: 15px 0;
    /*border: 15rem solid black;*/
    z-index: 3;
}

.program table::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 15px;
    right: -15px;
    bottom: 15px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    z-index: -1;
}

/* .program table td {
    padding: 0 15px;
} */

.program table tbody {
    display: table-row-group;
}

.program table tr {
    display: table-row;
}

/* .program table tr:hover {
    color: #F9B821;
} */

/* table {
    padding: 18px 17px 20px 20px ;
} */


tbody {
    line-height: 1.5;
    color: #ffffff77;
}

.program-cas, .program-labyrint, .program-seminare, .program-registracia, .program-cas-v-time, .program-mentoring {
    color: #fffd;
}

.program-kapela, .hlavny-program-label, .program-nazov, .program-share {
    color: #fff;
}

.program-kapela, .program-recnik {
    display: block;
}

.ciarka, .program-recnik {
    color: #f1cb75;
}

.program-kapela {
    font-weight: 300;
    text-transform: uppercase;
}

.hlavny-program-label {
    display: none;
}

.program-nazov {
    font-weight: 700;
    line-height: 1.25;
}



/* REGISTRÁCIA */

.registracia-slide1 .jadro {
    top: 3%;
}

.registracia {
    color: #222;
    flex-direction: column;
    position: relative;
}

.registracia .jadro-registracia {
    z-index: 3;
    position: relative;
    /* top: 12%; */
}

.registracia h1 {
    text-align: center;
    color: white;
}

.registracia p {
    position: relative;

    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;

    font-size: 15rem;
    line-height: 1.5;
    /* no no no, totu sirku tu nie*/
    /* width: 80%;  */
    margin: 0 auto;
    padding: 18px 15px 20px 20px;
}

.registracia .jadro-popis::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 15px;
    right: -15px;
    bottom: 15px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}

#jemne-siva {
    color: #ffffff77;
}

#zlta {
    color: #f1cb75;
}

.podvpravo {
    text-align: right;
}

.slnko {
    width: 35%;
    height: 35%;
    position: absolute;
    top: 27%;
    left: -7%;

    background-image: url("../img/slniecko.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

#registruj-sa {
    position: absolute;
    bottom: 7%;
    left: -30%;
    z-index: 1;
}

#registruj-sa .registruj-sa-text {
    position: relative;
    bottom: -80%;
    left: 0%;
}

.slnko-tu {
    width: 160px;
    height: 160px;
    position: relative;
    bottom: -30%;
    left: 82%;

    background-image: url("../img/registruj-tu.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.slnko-tam {
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    background-image: url("../img/registruj-tu-hover-w.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 22;
    left: 50%;
    top: 105%;
    transform: translate(-50%,-50%);

    transition: all 0.7 ease-out;
}

.slnko-tam:hover {
    background-image: url("../img/registruj-tu.png");
    transition: all 0.7 ease-out;
}

.slnko-tam:active {
    background-image: url("../img/registruj-tu-hover-e.png");
}


.registracia .jadro {
    flex-direction: column;
}

.tlacidlova-cast {
    width: 66%;
}

.tlacidlova-cast h1 {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px black;
    /* text-indent: calc(5vw * -1.1); */
    z-index: 33;
    margin-top: 0;
    }

/* MIESTO A KONTAKT */
#kontakt-ramcek {
    position: relative;
    height: 90%;
    width: auto;
    max-width: 550rem;
}

.adresa:hover {
    color: #F9B821;
}

#kontakt-ramcek .mapa {
    position: relative;
    height: 80%;
    width: 100%;
    max-width: 500rem;
}

.miesto-kontakt h1 {
    text-align: center;
}

/* zmeny */








    /* MENU MENU MENU MENU */

.header {
	position: absolute;
	right: 1%;
	top: 0px;
}

.menu-icon {
  position: relative;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 999; }

.bar, .bar:before, .bar:after {
  height: 3px;
  position: absolute;
  background-color: #ffffff;
  transition: all 180ms ease-in-out;
  content: ''; }

.bar {
  width: 25px;
  top: 13.5px; }

.bar:before {
  width: 30px;
  top: -10px; }

.bar:after {
  width: 20px;
  top: 10px; }

.menu-icon:hover .bar, .menu-icon:hover .bar:before, .menu-icon:hover .bar:after {
  background-color: #fff; }

.menu-icon:hover .bar {
  width: 30px; }

.menu-icon:hover .bar:after {
  width: 30px; }

.bar--active, .bar--active:before, .bar--active:after {
  background-color: #fff; }

.bar--active {
  width: 0; }

.menu-icon:hover .bar--active {
  width: 0; }

.bar--active:before {
  transform: translate(-10px, 10px) rotate(45deg);
  width: 40px;
 }

.bar--active:after {
  transform: translate(-10px, -10px) rotate(-45deg);
  width: 40px !important;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-image: 
  radial-gradient(
      circle at 92% 9%,
      rgba(190, 227, 255, 0.95) 3%,
      rgba(8, 26, 33, 1) 68%
      );
  /* background-color: #15382D; */
  z-index: 998;
  opacity: 0;
  transition: all 700ms ease-in-out;
  transform: translateX(100%); }

.overlay--active {
  opacity: 1;
  transform: translateX(0); }

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.items {
  margin-bottom: 30px; }

.links {
  color: #eee;
  font-size: 2em;
  font-family: "milk", sans-serif;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  }

.links:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #BDD4DE;
  transition: width 200ms ease-in; }

.links:hover {
  color: #E7BA85; }

.links:hover:after {
  width: 100%; }

.headline {
  font-family: "Lato", sans-serif;
  font-size: 5em;
  font-weight: 300;
  color: #FF530D;
  pointer-events: none;
  transition: transform 300ms ease-in-out; }

@media (max-width: 475px) {
  .headline {
    margin-left: 15px;
    transform: translateY(-160px); } }

@media (min-width: 475px) {
  .headline {
    transform: translateY(0px); } }




@media screen and (min-width: 769px) {

    #o-kpm > div.fp-slides > div > div.slide.o-kpm-slide1.fp-slide.active > div {
        top: 5%;
    }

    .o-kpm p, .recnici p, .miesto-kontakt p {
        width: 80%;
        margin: 0 auto;
        padding: 36px 30px 40px 40px;
    }
    
    .o-kpm p, .recnici p {
        font-size: 20rem;
        line-height: 1.5;
        font-weight: 300;
        position: relative;
        z-index: 4;
        padding: 36px 30px 40px 40px;
    }

    .fotka-recnik {
        top: calc(-4vh * 8);
        right: calc(6vw * -2);
        width: 380px;
        height: 380px;
    }

    .recnici:before {
        left: 0;
    }

    .seminare .den-v-tyzdni {
        left: calc(6vw * 4);
    }

    .seminare-nazov {
        font-size: 20px;
        margin: 20px;
        margin-inline: 70px;
    }

    .seminare:before {
        left: -10%;
    }

    .program table {
        position: relative;
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        font-size: 22rem;
        line-height: 1.2;
        width: 50%;
        margin: 0 auto;
        vertical-align: middle;
        height: 60%;
        top: 4%;
        border-spacing: 15px 0;
        /* border: 15rem solid black; */
        z-index: 3;
        text-align: center;
    }   
    



    .mesto-bg {
        animation: none;
    }   

    .logo {
        height: 50vh;
        /* width: 95%; */
        /* margin: auto; */
    
        background-image: 
            url("../img/logo_part2.png"),
            url("../img/logo_part3.png"),
            url("../img/logo_part4.png"),
            url("../img/logo_kruh.png")
            ;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
    
        animation: gogo 1.7s ease-in-out 2s 1 normal forwards;
    }

    .program-slide1:before, .program-slide2:before, .program-slide3:before,.program-slide4:before {
        /* top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.75;
        z-index: 0; */
        background: none;
    }
    
    .program:before {
        content: "";
        background-image:         
            radial-gradient(
                circle at 92% 9%,
                rgba(190, 227, 255, 0.33) 3%,
                rgba(8, 26, 33, 0.33) 68%
            ), 
            url('../img/program_t.jpg');
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 1;
        z-index: 0;
    }

    .jadro-popis {
        width: 55%;
    }

    .registracia .jadro-popis, .miesto-kontakt .jadro-popis {
        width: max-content;
    }

    #program .slniecko {
        bottom: 0%;
        right: -7%;
        width: 400px;
        height: 400px;
    }

    .registracia p {
        font-size: 18rem;
        padding: 40rem;
    }

    .tlacidlova-cast {
        margin-top: 40rem;
    }
}

@media screen and (orientation: portrait) {
    .registracia .jadro {
        top: 0;
    }
}


@media screen and (orientation: landscape) and (max-width: 768px) {

    #o-kpm > div.fp-slides > div > div.slide.o-kpm-slide1.fp-slide.active > div {
        top: 5%;
    }

    .o-kpm p, .recnici p {
        width: 100%;
        margin: 0 auto;
    }
    
    .o-kpm p, .recnici p, .registracia p {
        font-size: 13rem;
        line-height: 1.5;
        font-weight: 300;
        position: relative;
        z-index: 4;
        top: -10%;
    }

    .program table {
        position: relative;
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        font-size: 15rem;
        line-height: 1.2;
        width: 66%;
        margin: 0 auto;
        vertical-align: middle;
        height: 60%;
        top: 4%;
        border-spacing: 15px 0;
        /* border: 15rem solid black; */
        z-index: 3;
        text-align: center;
    }       


    .mesto-bg {
        animation: none;
    }   

    .logo {
        height: 50vh;
    
        background-image: 
            url("../img/logo_part2.png"),
            url("../img/logo_part3.png"),
            url("../img/logo_part4.png"),
            url("../img/logo_kruh.png")
            ;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
    
        animation: gogo 1.7s ease-in-out 2s 1 normal forwards;
    }

    .program-slide1:before, .program-slide2:before, .program-slide3:before,.program-slide4:before {
        background: none;
    }
    
    .program:before {
        content: "";
        background-image:         
            radial-gradient(
                circle at 92% 9%,
                rgba(190, 227, 255, 0.33) 3%,
                rgba(8, 26, 33, 0.33) 68%
            ), 
            url('../img/program_t.jpg');
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 1;
        z-index: 0;
    }

    .slniecko-program {
        right: -22%;
    }

    .jadro-popis {
        width: 70%;
    }

    #registracia .jadro-popis {
        height: 50%;
    }

    .registracia .jadro {
        flex-direction: column;
        top: 6%;
    }

    .tlacidlova-cast h1 {
        margin-top: -8%;
    }

    #program .slniecko {
        bottom: 0%;
        right: -7%;
        width: 400px;
        height: 400px;
    }

    #kontakt-ramcek .mapa {
        position: relative;
        width: 40%;
    }

    .miesto-kontakt h1 {
        margin: 0 20%;
    }
    
    .miesto-kontakt p {
        max-width: 310rem;
        margin: 0 auto;
        height: 80%;
    }
}


